name: CLI Tool

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**/*'
      - '!.github/workflows/cli-tool.yml'
      - '!src/Core/**/*.csproj'
      - '!src/Core/**/*.cs'
      - '!src/CLI/**/*.csproj'
      - '!src/CLI/**/*.cs'
  pull_request:
    paths-ignore:
      - '**/*'
      - '!.github/workflows/cli-tool.yml'
      - '!src/Core/**/*.csproj'
      - '!src/Core/**/*.cs'
      - '!src/CLI/**/*.csproj'
      - '!src/CLI/**/*.cs'
  schedule:
    - cron:  '0 8 * * *'

env:
  VERSION: 1.36.${{ github.run_number }}

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
    - name: Sets environment variables - branch-name
      uses: christianhelle/branch-name@master
    - name: Sets environment variables - Nerdbank.GitVersioning
      uses: dotnet/nbgv@master

    - name: Update Version
      run: ((Get-Content -Path Core/ApiClientCodeGen.Core/ApiClientCodeGen.Core.csproj -Raw) -Replace ">1.0.0<", ">${{ env.VERSION }}<") | Set-Content -Path Core/ApiClientCodeGen.Core/ApiClientCodeGen.Core.csproj
      working-directory: src

    - name: Build with dotnet
      run: dotnet build Rapicgen.sln
      working-directory: src
    
    - name: Build
      run: dotnet build -c Release /p:UseSourceLink=true src/Rapicgen.sln -p:PackageVersion="${{ env.VERSION }}"

    - name: Core test project
      run: dotnet test --no-build src/Core/ApiClientCodeGen.Core.Tests/ApiClientCodeGen.Core.Tests.csproj
      continue-on-error: true

    - name: Package
      run: dotnet pack --no-build -c Release /p:UseSourceLink=true src/CLI/ApiClientCodeGen.CLI/ApiClientCodeGen.CLI.csproj -p:PackageVersion="${{ env.VERSION }}"

    - name: Publish artifacts
      uses: actions/upload-artifact@v5
      with:
        name: CLI Tool
        path: |
          **/*.nupkg
          docs/CLI.md
