name: VS Code

on:
  push:
    paths:
      - 'src/VSCode/**'
      - '.github/workflows/vscode.yml'
  pull_request:
    paths:
      - 'src/VSCode/**'
      - '.github/workflows/vscode.yml'
  workflow_dispatch:

env:
  VERSION: 1.37.${{ github.run_number }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Bump VSCode extension version
      run: |
        sed -i "s/\"version\": \".*\"/\"version\": \"${{ env.VERSION }}\"/" src/VSCode/package.json

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '6.0.x'
    
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '24'
        cache: 'npm'
        cache-dependency-path: 'src/VSCode/package-lock.json'
    
    - name: Install dependencies
      run: |
        cd src/VSCode
        npm ci
    
    - name: Lint
      run: |
        cd src/VSCode
        npm run lint
    
    - name: Build
      run: |
        cd src/VSCode
        npm run compile
    
    - name: Package Extension
      run: |
        cd src/VSCode
        npm run package
        npm run vsix
    
    - name: Upload VSIX
      uses: actions/upload-artifact@v6
      with:
        name: VSCode-Extension
        path: src/VSCode/*.vsix
